Flask==3.1.0
flask_sqlalchemy==3.1.1
mysql_connector_repackaged==0.3.1
redis==5.2.0
Requests==2.32.3
rq==2.0.0
rq_scheduler==0.14.0
selenium==4.26.1
SQLAlchemy==2.0.36
mysqlclient==2.2.6
gunicorn==23.0.0